<h2 id="title">Welcome to Ember-Links</h2>
<ul>
  <li>
    {{#link-to 'links'}}Links{{/link-to}}
  </li>
  <li>
    {{#link-to 'add-link'}}Add link{{/link-to}}
  </li>
  <li>
    {{#link-to 'signin'}}Signin{{/link-to}}
  </li>
</ul>

{{outlet}}
