<h3>Links</h3>
{{#link-to 'add-link'}}Add link{{/link-to}}
<ul>
  {{#each model as |link|}}
    <li>
      <a href={{link.url}}>{{link.title}}</a>
      <div>
        {{link.description}}
      </div>
    </li>
  {{/each}}
</ul>
{{outlet}}
